html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(26, 158, 158);
}

input[type='text'] {
    margin-right: 2rem;
    padding: 1rem;
    font-size: 1.8rem;
    border-radius: 1rem;
    border-color: rgba(0, 0, 0, 0.4);
    background-color: transparent;
}

.btn_create {
    padding: 1rem;
    border-color: rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    background-color: transparent;
    font-size: 1.6rem;
    cursor: pointer;
}

.btns_wrap {
    margin: 2rem 0;
}

label {
    display: flex;
    align-items: center;
}

input[type='checkbox'] {
    margin-right: 1rem;
}

label span {
    display: inline-block;
    font-size: 1.6rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.item {
    max-width: 40rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
}

.item.complete {
    background-color: rgb(27, 148, 27);
}

.item.complete span {
    color: white;
}


.hidden {
    display: none;
}


.item_content_top {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.item_content_top .title {
    font-size: 2rem;
}


.item_content_top .time {
    font-size: 1.6rem;
}

.item_wrap_btns {
    display: flex;
    align-items: center;
}

.btn {
    padding: 0.5rem;
    font-size: 1.6rem;
    color: white;
    border-radius: 1rem;
    border-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.btn:first-child {
    margin-right: 1rem;
}

.btn_complete {
    background-color: rgb(49, 174, 49);
}

.btn_delete {
    background-color: red;
}

.item_content_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item_content_bottom span {
    font-size: 1.6rem;
    line-height: 1.2;
}

