html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #50b9c7;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    height: 100%;
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 10rem;
}

input[type='text'] {
    margin-right: 2rem;
    min-width: 30rem;
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.2);
    box-shadow: none;
    border-radius: 1rem;
    padding: 1rem;
}

.btn_create {
    min-width: 10rem;
    background-color: antiquewhite;
    padding: 1rem;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 600;
    cursor: pointer;
}

label {
    display: flex;
    align-items: center;
    margin: 2rem 0;

}

label input {
    margin-right: 1rem;
}

label span {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.2;
}

li {
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.4);
    max-width: 40rem;
}

li[data-status="complete"] {
    background-color: #30cd30;
    color: white;
}

li[data-status="removed"] {
    background-color: rgb(161, 71, 71);
    color: white;
}

.item_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item_wrap span {
    display: inline-block;
    max-width: 20rem;
    font-size: 2rem;
    line-height: 1.2;
    text-overflow: clip;
    overflow: hidden;
}

.item_wrap_btns .btn {
    color: white;
    font-size: 1.6rem;
    border-color: rgba(0, 0, 0, 0.6);
    border-radius: 0.5rem;
    cursor: pointer;
}

.item_wrap_btns .btn_complete {
    background-color: green;
}

.item_wrap_btns .btn_delete {
    background-color: rgb(196, 74, 74);
}